.highlight {
  max-width: 1170px;
  position: relative;
}

.highlight-bg {
  position: absolute;
}
.highlight-heading {
  font-size: 60px;
  font-weight: 800;
  line-height: 4.75rem;
  margin-bottom: 30px;
  text-align: center;
}
.highlight-content__text {
  margin-bottom: 40px;
  width: 100%;
  max-width: 465px;
}
.highlight-btn {
  background-color: var(--primary);
  color: #fff;
  padding: 18px 50px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  align-items: center;
  gap: 10px;
}
.highlight-image__small {
  position: absolute;
  top: 17%;
}
.highlight-image__small-arrow {
  position: absolute;
  top: -27%;
  left: 61%;
}
.highlight-image {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-top: 60px;
}
.highlight-image img {
}

.highlight-image__mid img {
  border-radius: 20px;
}

.highlight-image__left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.highlight-image__left img {
  border-radius: 20px;
}
.highlight-image__left2 {
  display: flex;
  flex-direction: column;
  /* border-radius: 20px; */
  gap: 20px;
}
.highlight-image__left2 img {
  border-radius: 20px;
}
.highlight-heading span {
  background: linear-gradient(90deg, #f961d8 17.08%, #1663f9 78.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2em;
}

.hhighlightero-detail__price {
  color: var(--black);
  font-size: 3.75rem;
  font-weight: 800;
  letter-spacing: 9.6px;
  margin-bottom: 20px;
}

.highlight-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--black);
  padding-bottom: 24px;
}

.highlight-text {
  width: 100%;
  max-width: 233px;
  margin: 48px 0;
}

.highlight-image {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.round-image {
  border-radius: 30px 30px 30px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* responsive */
/* tablet */
@media screen and (max-width: 1024px) {
  .highlight {
  }
}

/* mobile */

@media screen and (max-width: 768px) {
  .highlight {
    flex-direction: column;
  }
}
